bcrypt==3.1.7
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
cycler==0.10.0
dnspython==1.16.0
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
graphviz==0.13.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
joblib==0.14.1
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.2
mysql-connector-python==8.0.19
numpy==1.18.1
pandas==0.25.3
protobuf==3.6.1
pyasn1==0.4.8
pycparser==2.19
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
rsa==4.0
scikit-learn==0.22.1
scipy==1.4.1
six==1.13.0
urllib3==1.25.7
waitress==1.4.2
Werkzeug==0.16.0
