<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Assignment</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for(endpoint='static', filename='css/base.css') }}">

    {% block head %}{% endblock %}
</head>
<body>
<div class="w3-container w3-padding w3-blue header">
    <h1>FLASK ASSIGNMENT</h1>
</div>
<div class="w3-container content">
    {% block body %}
        <h1>Hello World</h1>
    {% endblock %}
</div>
</body>
</html>