{% extends 'base.html' %}

{% block body %}
    <div class="w3-container w3-padding w30margin" style="width: 100%">

        <a class="w3-btn w3-round-large w3-border w3-border-blue w3-hover-blue w3-left w3-margin"
           href="/students">
            Back
        </a>
        <button class="w3-btn w3-round-large w3-border w3-border-blue w3-hover-blue w3-right w3-margin"
                onclick="document.getElementById('addstudent').style.display='block'">
            Update Marks
        </button>
    </div>
    <table class="w3-table-all w3-centered w3-hoverable">
        <tr class="w3-blue w3-text-white">
            <th>Phyiscs</th>
            <th>Chemistry</th>
            <th>Maths</th>
        </tr>
        <tr>
            <td>{{ marks.physics|safe if marks.physics else "-" }}</td>
            <td>{{ marks.chemistry|safe if marks.chemistry else "-" }}</td>
            <td>{{ marks.maths|safe if marks.maths else "-" }}</td>
        </tr>
    </table>
    <div id="addstudent" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom">
            <header class="w3-container w3-blue w3-center">
                <span onclick="document.getElementById('addstudent').style.display='none'"
                      class="w3-button w3-display-topright">&times;</span>
                <h2>Update Marks</h2>
            </header>
            <div class="w3-container w3-padding">
                <form action="/marks" method="post">
                    <input name="id" value="{{ id }}" hidden/>
                    <div>
                        <label for="addstudent-name">Physics</label>
                        <input class="w3-input" id="addstudent-name" name="physics" type="number"
                               value="{{ marks.physics|safe }}"/>
                    </div>
                    <div>
                        <label for="addstudent-email">Chemistry</label>
                        <input class="w3-input" id="addstudent-email" name="chemistry" type="number"
                               value="{{ marks.chemistry|safe }}"/>
                    </div>
                    <div>
                        <label for="addstudent-email">Maths</label>
                        <input class="w3-input" id="addstudent-email" name="maths" type="number"
                               value="{{ marks.maths|safe }}"/>
                    </div>
                    <button type="submit" class="w3-button w3-round w3-blue">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}